.tw02 {
  overflow: hidden;
  padding: 0 0 20px 0;
  h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    max-height: 36px;
    overflow: hidden;
    margin: 20px 0 10px;
    a {
      color: #2b2b2b;
    }
  }
  span {
    font-size: 14px;
    line-height: 1.8;
    max-height: 51px;
    overflow: hidden;
    display: block;
  }
  img {
    float: right;
    width: 100%;
    max-width: 145px;
    margin: 40px 32px 0 50px;
    transition: .3s ease-out;
  }
}

.tw02:hover {
  h2 {
    a {
      color: $color-red;
    }
  }
  img {
    transform: translate(4px, 0);
  }
}

@media (max-width: 767px) {
  .tw02 {
    padding: 0.5rem 0.4rem;
    overflow: hidden;
    h2 {
      font-size: 0.44rem;
      line-height: 1.5;
      max-height: 1.98rem;
      margin: 0;
    }
    span {
      display: none;
    }
    img {
      float: right;
      margin: 0;
      padding-left: 0.5rem;
      max-width: 40%;
    }
  }
  .tw02:hover {
    img {
      transform: none;
    }
  }
}

.fushu {
  overflow: hidden;
  margin: 20px 0 0 0;
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  .author {
    float: left;
    display: inline;
    padding-right: 20px;
  }
  .source {
    float: left;
    display: inline;
  }
}

@media (max-width: 767px) {
  .fushu {
    margin: 0.3rem 0 0 0;
    font-size: 0.36rem;
    .author {
      padding-right: 0.3rem;
    }
  }
}