.tltw08 {
    margin: 0 0 30px;
    overflow: hidden;
    h2 {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        color: #000;
        margin: 0 0 15px;
        max-height: 48px;
        overflow: hidden;
        a {
            color: #000;
        }
    }
    span {
        font-size: 14px;
        line-height: 1.8;
        color: #666;
        max-height: 76px;
        overflow: hidden;
        display: block;
    }
    img {
        width: 40%;
        margin: 10px 0 0 10px;
        float: right;
        border-radius: 50%;
    }
}

.tltw08:hover {
    h2 {
        a {
            color: $color-red;
        }
    }
}

@media (max-width: 767px) {
    .tltw08 {
        margin: 0;
        padding: 0.5rem 0.4rem;
        h2 {
            font-size: 0.44rem;
            max-height: 1.32rem;
        }
        span {
            font-size: 0.38rem;
            max-height: 1.37rem;
        }
        img {
            width: 30%;
            margin: 0.2rem 0 0 0.2rem;
        }
    }
}