.container
  .row
    .col-sm-12
      .column_n
        .height50p
        .explain 头图02
          a(id="tt02" name="tt02")
        pre.declare
          | 图片为
          span.red 2000×894
          | ，高度
          span.red 不可以自定义。
          | 
          | 全部内容取节点第一篇文章，背景图取标题图，大标题取标题，介绍内容取摘要。
        .button_box
          span 信息片ID
          input.importbox_l.info_n(type="text")
          input.hidden.importbox_s.order_n(type="text")
          | 　
          button.assign_btn_n 参数赋值
          button.copy_btn_n 复制代码
        .templates_n.hide
          pre
            code.temp-code nodeid="1" Repeat Begin=1 End=1
.unfold_banner
  .backpic(style="background: url(http://www.qstheory.cn/titlepic/112327/1123275181_1534323082650_title0h.jpg) top center no-repeat;")
  .sbackpic(style="background: url(http://www.qstheory.cn/titlepic/112327/1123275181_1534323082650_title0h.jpg) top center no-repeat;")
  .icon
    img(src="http://www.qstheory.cn/n7/images/zt_xuanyan_20180813_02.png", alt="")
  .hide_icon
    img(src="http://www.qstheory.cn/n7/images/zt_xuanyan_20180813_03.png", alt="")
  h2.white_title.transdelay 标题内容文字标题内容文字
  span.white_span.transdelay 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字