.row
  .col-sm-12
    .column_h
      .height100p
      .explain 头图及栏目图01
        a(id="tt01" name="tt01")
      pre.declare
        | 图片宽度为
        span.red 1000
        | ，手机图片宽度为不低于
        span.red 600
        |，高度自定义。
        | 填写第0个栏目图为
        span.blue 头图
        | ，1开始为
        span.blue 栏目图。 
      .button_box
        span 信息片ID
        input.importbox_l.info_h(type="text")
        | 　
        span 第
        input.importbox_s.order_h(type="text")
        span 个栏目图
        | 　
        button.assign_btn_h 参数赋值
        button.copy_btn_h 复制代码
      .ysk_banner.hidden-xs
        img(src="http://www.qstheory.cn/n7/images/xjpxsdztsx_banner_small.jpg", alt="")
      .ysk_banner.visible-xs
        img(src="http://www.qstheory.cn/n7/images/xjpxsdztsx_banner_small.jpg", alt="")
      .templates_h.hide
        pre
          code.temp-code Repeat Begin=1 End=1
      .height10p
      .ysk_banner.hidden-xs
        img(src="http://www.qstheory.cn/n7/images/xjpxsdztsx_jjjs.jpg", alt="")
      .ysk_banner.visible-xs
        img(src="http://www.qstheory.cn/n7/images/xjpxsdztsx_jjjs.jpg", alt="")