.row
  .col-md-12
    .column_n
      .height50p
      .explain 导读
        a(id="dd01" name="dd01")
      pre.declare
        | 导读的内容部分取摘要，不限制行数。
      .button_box
        span 信息片ID
        input.importbox_l.info_n(type="text")
        input.hidden.importbox_s.order_n(type="text")
        | 　
        button.assign_btn_n 参数赋值
        button.copy_btn_n 复制代码
      .templates_n.hide
        pre
          code.temp-code nodeid="1" Repeat Begin=1 End=1
  .col-sm-12
    .editernote
      span 　　导读本体内容导读本体内容导读本体内容导读本体内容导读本体内容导读本体内容导读本体内容导读本体内容导读本体内容导读本体内容导读本体内容导读本体内容导读本体内容导读本体内容导读本体内容导读本体内容导读本体内容导读本体内容导读本体内容导读本体内容
      .quotes
        img(src="http://www.qstheory.cn/n7/images/zt_yksv3_20180821_02.png", alt="")