.container
  .row
    .col-md-12
      .column_n
        .height50p
        .explain 轮播05
          a(id="lb05" name="lb05")
        pre.declare
          | 图片为
          span.red 929×657
          | ，图片宽度和高度
          span.red 都不可以自定义。
          | 
          | 如果图片不严格尺寸将出现错位现象。
        .button_box
          span 信息片ID
          input.importbox_l.info_n(type="text")
          | 　
          span 循环
          input.importbox_s.order_n(type="text")
          span 次
          | 　
          button.assign_btn_n 参数赋值
          button.copy_btn_n 复制代码
        .templates_n.hide
            pre
              code.temp-code nodeid="1" Repeat Begin=1 End=1
.focus_book
  .swiper-container.swiper-container-book2
    .swiper-wrapper
      .swiper-slide
        a(href="#")
          img(src="http://www.qstheory.cn/titlepic/112327/1123272652_1534300535819_title0h.png", alt="")
      .swiper-slide
        a(href="#")
          img(src="http://www.qstheory.cn/titlepic/112327/1123272652_1534300535819_title0h.png", alt="")
      .swiper-slide
        a(href="#")
          img(src="http://www.qstheory.cn/titlepic/112327/1123272652_1534300535819_title0h.png", alt="")
      .swiper-slide
        a(href="#")
          img(src="http://www.qstheory.cn/titlepic/112327/1123272652_1534300535819_title0h.png", alt="")
      .swiper-slide
        a(href="#")
          img(src="http://www.qstheory.cn/titlepic/112327/1123272652_1534300535819_title0h.png", alt="")
    .swiper-pagination.swiper-pagination-book2