.col-md-12
  .column_n
    .height50p
    .explain 轮播04
      a(id="lb04" name="lb04")
    pre.declare
      | 图片为
      span.red 200×280
      | ，图片高度
      span.blue 可以自定义。
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 次
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .focus_book
      .swiper-container.swiper-container-book
        .swiper-wrapper
          .swiper-slide
            a(href="#")
              img.transdelay_long(src="http://www.qstheory.cn/titlepic/112254/1122541952_1521093885792_title0h.jpg", alt="")
          .swiper-slide
            a(href="#")
              img.transdelay_long(src="http://www.qstheory.cn/titlepic/112254/1122541952_1521093885792_title0h.jpg", alt="")
          .swiper-slide
            a(href="#")
              img.transdelay_long(src="http://www.qstheory.cn/titlepic/112254/1122541952_1521093885792_title0h.jpg", alt="")
          .swiper-slide
            a(href="#")
              img.transdelay_long(src="http://www.qstheory.cn/titlepic/112254/1122541952_1521093885792_title0h.jpg", alt="")
          .swiper-slide
            a(href="#")
              img.transdelay_long(src="http://www.qstheory.cn/titlepic/112254/1122541952_1521093885792_title0h.jpg", alt="")
        .swiper-pagination
      .swiper-button-prev.swiper-button-black.book-prev
      .swiper-button-next.swiper-button-black.book-next
    .templates_n.hide
        pre
          code.temp-code nodeid="1" Repeat Begin=1 End=1