.col-sm-12
  .column_n
    .height50p
    .explain 轮播01
      a(id="lb01" name="lb01")
    pre.declare
      | 图片为
      span.red 658×329
      | ，此比例为2:1，还可使用
      span.red 658×370
      | ，此比例为16:9。
      | 图片高度可以自定义，但所有图片必须等高。
      | 标题最多
      span.blue 1
      | 行，最多
      span.blue 20
      | 个字。
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 次
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .swiper-container.swiper-container1
      .swiper-wrapper
        .swiper-slide
          a(href="#")
            img.transdelay_long(src="http://www.qstheory.cn/n7/images/ceshi/noneed_01.jpg", alt="")
            .backpic
              .title 标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字
        .swiper-slide
          a(href="#")
            img.transdelay_long(src="http://www.qstheory.cn/n7/images/ceshi/noneed_01.jpg", alt="")
            .backpic
              .title 标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字
        .swiper-slide
          a(href="#")
            img.transdelay_long(src="http://www.qstheory.cn/n7/images/ceshi/noneed_01.jpg", alt="")
            .backpic
              .title 标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字
        .swiper-slide
          a(href="#")
            img.transdelay_long(src="http://www.qstheory.cn/n7/images/ceshi/noneed_01.jpg", alt="")
            .backpic
              .title 标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字
        .swiper-slide
          a(href="#")
            img.transdelay_long(src="http://www.qstheory.cn/n7/images/ceshi/noneed_01.jpg", alt="")
            .backpic
              .title 标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容 文字
      .swiper-pagination.hidden-xs
      .swiper-button-prev.swiper-button-white.hidden-xs
      .swiper-button-next.swiper-button-white.hidden-xs
    .templates_n.hide
        pre
          code.temp-code nodeid="1" Repeat Begin=1 End=1
  .height50p
  .column_n
    .explain 轮播02
      a(id="lb02" name="lb02")
    pre.declare
      | 图片为
      span.red 428×285
      | ，图片高度
      span.red 不可以自定义。
      | 
      | 标题最多
      span.blue 2
      | 行，最多
      span.blue 12
      | 个字，摘要最多
      span.blue 4
      | 行，最多
      span.blue 40
      | 个字。
      | 手机端隐藏摘要。
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 次
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .swiper-container.swiper-container2
      .swiper-wrapper
        .swiper-slide
          .pic
            a(href="#")
              img.transdelay_long(src="http://www.qstheory.cn/n7/images/ceshi/noneed_03.jpg", alt="")
          .text
            h2
              a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字
            span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
        .swiper-slide
          .pic
            a(href="#")
              img.transdelay_long(src="http://www.qstheory.cn/n7/images/ceshi/noneed_03.jpg", alt="")
          .text
            h2
              a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字
            span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
        .swiper-slide
          .pic
            a(href="#")
              img.transdelay_long(src="http://www.qstheory.cn/n7/images/ceshi/noneed_03.jpg", alt="")
          .text
            h2
              a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字
            span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .swiper-pagination
    .templates_n.hide
        pre
          code.temp-code nodeid="1" Repeat Begin=1 End=1