.col-md-12
  .column_n
    .height50p
    .explain 轮播03
      a(id="lb03" name="lb03")
    pre.declare
      | 图片为
      span.red 650×280
      | ，图片高度
      span.red 不可以自定义。
      | 
      | 标题最多
      span.blue 2
      | 行，最多
      span.blue 22
      | 个字，摘要最多
      span.blue 3
      | 行，最多
      span.blue 54
      | 个字。
      | 手机端隐藏摘要。
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 次
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .swiper-container.swiper-container3
      .swiper-wrapper
        .swiper-slide
          .pic
            a(href="#")
              img.transdelay_long(src="http://www.qstheory.cn/titlepic/111553/1115537423_1433692727732_title0h.jpg", alt="")
          .text
            h2
              a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字
            span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
        .swiper-slide
          .pic
            a(href="#")
              img.transdelay_long(src="http://www.qstheory.cn/titlepic/111553/1115537423_1433692727732_title0h.jpg", alt="")
          .text
            h2
              a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字
            span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
        .swiper-slide
          .pic
            a(href="#")
              img.transdelay_long(src="http://www.qstheory.cn/titlepic/111553/1115537423_1433692727732_title0h.jpg", alt="")
          .text
            h2
              a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字
            span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .swiper-pagination
    .templates_n.hide
        pre
          code.temp-code nodeid="1" Repeat Begin=1 End=1