meta(charset="utf-8")
title 专题样式库V3.0 - 求是网
meta(name="description", content="")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="renderer" content="webkit")
meta(name="author" content="求是网")
meta(name="copyright" content="求是网")
link(rel="stylesheet", href="http://www.qstheory.cn/n7/style/bootstrap.min.css")
link(rel="stylesheet", href="http://www.qstheory.cn/n7/style/swiper.min.css")
link(rel="stylesheet", href="http://www.qstheory.cn/n7/style/v7_base.css")
link(rel="stylesheet", href="http://www.qstheory.cn/n7/style/v7_commontop_v1.0.css")
link(rel="stylesheet", href="styles/v7_subject_v3.0.css")
<!--[if lt IE 9]>
script(src="http://www.qstheory.cn/n5/h5boot/html5shiv.min.js")
script(src="http://www.qstheory.cn/n5/h5boot/respond.min.js")
<![endif]-->
script(src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;amp;uuid=676a2ac0-872b-481f-a498-afaccc3902c0&amp;amp;pophcol=2&amp;amp;lang=zh", charset="utf-8")
script(src="http://static.bshare.cn/b/bshareC0.js", charset="utf-8")
link(rel="icon", href="http://www.qstheory.cn/favicon.ico")
