.height20p
.ysk_menu
  .yskm_con
    .column
      a(href="#tt01") 头图及栏目图01
    .column
      a(href="#tt02") 头图02
    .column
      a(href="#dd01") 导读
    .column
      a(href="#ttiao") 头条
    .column
      a(href="#lb01") 轮播01
    .column
      a(href="#lb02") 轮播02
    .column
      a(href="#zctw01") 左侧图文01
    .column
      a(href="#zctw02") 左侧图文02
    .column
      a(href="#zctw03") 左侧图文03
    .column
      a(href="#zctw04") 左侧图文04
    .column
      a(href="#zctw05") 左侧图文05
    .column
      a(href="#zcwz01") 左侧文字01
    .column
      a(href="#ycwz01") 右侧文字01
    .column
      a(href="#ycwz02") 右侧文字02
    .column
      a(href="#yctw01") 右侧图文01
    .column
      a(href="#yctw02") 右侧图文02
    .column
      a(href="#yctw03") 右侧图文03
    .column
      a(href="#yctw04") 右侧图文04
    .column
      a(href="#yctw05") 右侧图文05
    .column
      a(href="#ycwz03") 右侧文字03
    .column
      a(href="#yctw06") 右侧图文06
    .column
      a(href="#lb03") 轮播03
    .column
      a(href="#tltw01") 通栏图文01
    .column
      a(href="#tltw02") 通栏图文02
    .column
      a(href="#tltw03") 通栏图文03
    .column
      a(href="#tltw04") 通栏图文04
    .column
      a(href="#tltw05") 通栏图文05
    .column
      a(href="#tltw06") 通栏图文06
    .column
      a(href="#tltw07") 通栏图文07
    .column
      a(href="#tltw08") 通栏图文08
    .column
      a(href="#tltw09") 通栏图文09
    .column
      a(href="#tltw10") 通栏图文10
    .column
      a(href="#tltw11") 通栏图文11
    .column
      a(href="#tltw12") 通栏图文12
    .column
      a(href="#tltw13") 通栏图文13
    .column
      a(href="#tltw14") 通栏图文14
    .column
      a(href="#tlwz01") 通栏文字01
    .column
      a(href="#tlwz02") 通栏文字02
    .column
      a(href="#lb04") 轮播04
    .column
      a(href="#lb05") 轮播05