.col-sm-12
  .column_n
    .height50p
    .explain 左侧图文05
      a(id="zctw05" name="zctw05")
    pre.declare
      | 图片为
      span.red 198×112
      | ，图片高度不可以自定义。
      | 标题最多
      span.blue 2
      | 行，最多 
      span.blue 36
      | 个字，不显示摘要。
      | 可以没有图片，标题摘要会顶掉失去元素的空间，
      span.blue 但不建议没有图片。
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 次
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .line
    .tw05.box_hover.transdelay
      a(href="#")
        img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_04.jpg", alt="")
      h2
        a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字
      .fushu
        .author 作者-某某某
        .source 来源-人民网
    .line
    .tw05.box_hover.transdelay
      h2
        a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字
      .fushu
        .author 作者-某某某
        .source 来源-人民网
    .line
    .tw05.box_hover.transdelay
      a(href="#")
        img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_04.jpg", alt="")
      h2
        a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字
      .fushu
        .author 作者-某某某
        .source 来源-人民网
    .line
    .tw05.box_hover.transdelay
      a(href="#")
        img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_04.jpg", alt="")
      h2
        a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字
      .fushu
        .author 作者-某某某
        .source 来源-人民网
    .line
    .templates_n.hide
      pre
        code.temp-code nodeid="1" Repeat Begin=1 End=1