.col-md-12.col-sm-6
  .column_n
    .height50p
    .explain 右侧文字03
      a(id="ycwz03" name="ycwz03")
    pre.declare
      | 标题最多
      span.blue 2
      | 行，最多
      span.blue 42
      | 个字。
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 次
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .mobi_line.visible_xs
    .rlist01
      ul
        li
          a(href="#") 标题内容文字标题内容文字
        .mobi_line.visible-xs
        li
          a(href="#") 标题内容文字标题内容文字
        .mobi_line.visible-xs
        li
          a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字
        .mobi_line.visible-xs
        li
          a(href="#") 标题内容文字标题内容文字
        .mobi_line.visible-xs
        li
          a(href="#") 标题内容文字标题内容文字
        .mobi_line.visible-xs
    .templates_n.hide
      pre
        code.temp-code nodeid="1" Repeat Begin=1 End=1