.col-md-12.col-sm-6
  .column_n
    .height50p
    .explain 右侧图文06
      a(id="yctw06" name="yctw06")
    pre.declare
      | 图片为
      span.red 30×30
      | ，图片尺寸严格。
      | 标题不要超过
      span.blue 12
      | 个字。
      | 摘要最多
      span.blue 1
      | 行，最多
      span.blue 20
      | 个字。
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 次
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .rtw06
      .title
        .pic
          img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_08.jpg", alt="")
        .text |　
          span
            a(href="#") 五当山
      .abs 摘要内容文字摘要内容文字摘要内容文字摘要内容文字
    .rtw06
      .title
        .pic
          img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_08.jpg", alt="")
        .text |　
          span
            a(href="#") 五当山
      .abs 摘要内容文字摘要内容文字摘要内容文字摘要内容文字
    .rtw06
      .title
        .pic
          img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_08.jpg", alt="")
        .text |　
          span
            a(href="#") 五当山
      .abs 摘要内容文字摘要内容文字摘要内容文字摘要内容文字
    .templates_n.hide
      pre
        code.temp-code nodeid="1" Repeat Begin=1 End=1