.col-md-12.col-sm-6
  .column_n
    .height50p
    .explain 右侧图文04
      a(id="yctw04" name="yctw04")
    pre.declare
      | 图片为
      span.red 316×210
      | ，图片高度可以自定义。
      | 标题最多
      span.blue 1
      | 行，最多
      span.blue 15
      | 个字。
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 次
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
      span 需要手动更改序号
    .rtw04
      .line
      .tab_con
        .fold
          i 01
          p
            a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字
        .unfold
          .text
            i 01
            p
              a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字
          .pic
            a(href="#")
              img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_03.jpg", alt="")
      .line
      .tab_con
        .fold
          i 02
          p
            a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字
        .unfold
          .text
            i 02
            p
              a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字
          .pic
            a(href="#")
              img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_03.jpg", alt="")
      .line
      .tab_con
        .fold
          i 03
          p
            a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字
        .unfold
          .text
            i 03
            p
              a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字
          .pic
            a(href="#")
              img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_03.jpg", alt="")
      .line
      .tab_con
        .fold
          i 04
          p
            a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字
        .unfold
          .text
            i 04
            p
              a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字
          .pic
            a(href="#")
              img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_03.jpg", alt="")
      .line
      .tab_con
        .fold
          i 05
          p
            a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字
        .unfold
          .text
            i 05
            p
              a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字
          .pic
            a(href="#")
              img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_03.jpg", alt="")
      .line
    .templates_n.hide
      pre
        code.temp-code nodeid="1" Repeat Begin=1 End=1