.col-md-12.col-sm-6
  .column_n
    .height50p
    .explain 右侧图文01
      a(id="yctw01" name="yctw01")
    pre.declare
      | 图片为
      span.red 145×97
      | ，图片高度不可以自定义。
      | 标题最多
      span.blue 2
      | 行，最多
      span.blue 16
      | 个字。
      | 摘要最多
      span.blue 2
      | 行，最多
      span.blue 20
      | 个字。
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 次
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .mobi_line.visible-xs
    .rtw01
      .row
        .col-sm-6.col-xs-5
          .pic
            a(href="#")
              img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_05.jpg", alt="")
        .col-sm-6.padd_l0.col-xs-7
          .text
            h2
              a(href="#") 标题内容文字标题内容文字
            span 摘要内容文字摘要内容文字摘要内容文字
    .mobi_line.visible-xs
    .rtw01
      .row
        .col-sm-6.col-xs-5
          .pic
            a(href="#")
              img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_05.jpg", alt="")
        .col-sm-6.padd_l0.col-xs-7
          .text
            h2
              a(href="#") 标题内容文字标题内容文字
            span 摘要内容文字摘要内容文字摘要内容文字
    .mobi_line.visible-xs
    .rtw01
      .row
        .col-sm-6.col-xs-5
          .pic
            a(href="#")
              img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_05.jpg", alt="")
        .col-sm-6.padd_l0.col-xs-7
          .text
            h2
              a(href="#") 标题内容文字标题内容文字
            span 摘要内容文字摘要内容文字摘要内容文字
    .mobi_line.visible-xs
    .templates_n.hide
      pre
        code.temp-code nodeid="1" Repeat Begin=1 End=1