.col-md-12.col-sm-6
  .column_n
    .height50p
    .explain 右侧图文05
      a(id="yctw05" name="yctw05")
    pre.declare
      | 图片为
      span.red 316×178
      | ，图片高度可以自定义。
      | 标题最多
      span.blue 2
      | 行，最多
      span.blue 30
      | 个字。
      | 摘要最多
      span.blue 3
      | 行，最多
      span.blue 66
      | 个字。
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 次
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .line
    .rtw05
      h2
        a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字
      span.author 某某某
      span.company 某某单位某某职位
      .pic
        a(href="#")
          img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_07.jpg", class="transdelay", alt="")
      span.abs 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
    .line
    .rtw05
      h2
        a(href="#") 标题内容文字标题内容文字
      span.author 某某某
      span.company 某某单位某某职位
      .pic
        a(href="#")
          img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_07.jpg", class="transdelay", alt="")
      span.abs 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
    .line
    .templates_n.hide
      pre
        code.temp-code nodeid="1" Repeat Begin=1 End=1