.col-md-12.col-sm-6
  .column_n
    .height50p
    .explain 右侧文字01
      a(id="ycwz01" name="ycwz01")
    pre.declare
      | 大标题最多
      span.blue 2
      | 行，最多
      span.blue 30
      | 个字。
      | 小标题
      span.blue 1
      | 行，最多
      span.blue 22
      | 个字。
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环小标题
      input.importbox_s.order_n(type="text")
      span 次
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .rbt01
      dl
        dt
          a(href="#") 标题内容文字标题内容标题内容文字标题内容标题内容文字标题内容标题内容文字标题内容
        .mobi_line.visible-xs
      ul
        li
          a(href="#") 标题内容文字标文字标题内容文字标题内容文字标文字标题内容文字
        .mobi_line.visible-xs
        li
          a(href="#") 标题内容文字标文字标题内容文字
        .mobi_line.visible-xs
        li
          a(href="#") 标题内容文字标文字标题内容文字
        .mobi_line.visible-xs
        li
          a(href="#") 标题内容文字标文字标题内容文字
        .mobi_line.visible-xs
      dl.hidden-xs
        dt
          a(href="#") 标题内容文字标题内容文字
        .mobi_line.visible-xs
      ul.hidden-xs
        li
          a(href="#") 标题内容文字标文字标题内容文字
        .mobi_line.visible-xs
        li
          a(href="#") 标题内容文字标文字标题内容文字
        .mobi_line.visible-xs
        li
          a(href="#") 标题内容文字标文字标题内容文字
        .mobi_line.visible-xs
        li
          a(href="#") 标题内容文字标文字标题内容文字
        .mobi_line.visible-xs
    .templates_n.hide
      pre
        code.temp-code nodeid="1" Repeat Begin=1 End=1