.col-md-12
  .column_n
    .height50p
    .explain 通栏图文14
      a(id="tltw14" name="tltw14")
    pre.declare
      | 图片为
      span.red 400×420
      | ，图片为第一篇文章标题图，图片高度可以自定义，根据右侧标题数量调整高度。
      | ,主标题最多
      span.blue 1
      | 行，最多
      span.blue 30
      | 个字。摘要最多
      span.blue 2
      | 行，最多
      span.blue 106
      | 个字。
      | ,列表标题最多
      span.blue 2
      | 行，最多
      span.blue 42
      | 个字。
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 行
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .row
      .col-md-3
        .ornament
          img(src="http://www.qstheory.cn/n7/images/zt_yksv3_20180821_01.png", alt="")
      .col-md-9
        .tltw14.transdelay
          .first_title
            h2
              a(href="#") 标题内容文字标题内容文字标题内容文字01
            span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
              a(href="#")  [详细]
          .line
          .other_title
            .row
              .col-sm-6
                .tlbt02.transdelay
                  a(href="#") 标题内容文字标题内容标题内容02
              .col-sm-6
                .tlbt02.transdelay
                  a(href="#") 标题内容文字标题内容标题内容03
              .col-sm-6
                .tlbt02.transdelay
                  a(href="#") 标题内容文字标题内容标题内容04
              .col-sm-6
                .tlbt02.transdelay
                  a(href="#") 标题内容文字标题内容标题内容05
              .col-sm-6
                .tlbt02.transdelay
                  a(href="#") 标题内容文字标题内容标题内容06
              .col-sm-6
                .tlbt02.transdelay
                  a(href="#") 标题内容文字标题内容标题内容07
    .templates_n.hide
      pre
        code.temp-code nodeid="1" Repeat Begin=1 End=1