.col-md-12
  .column_n
    .height50p
    .explain 通栏图文07
      a(id="tltw07" name="tltw07")
    pre.declare
      | 短图类图片为
      span.red 158×105
      | ，图片高度不建议自定义，
      span.blue 图片必须等高。
      |
      | 标题最多
      span.blue 2
      | 行，最多
      span.blue 14
      | 个字。
      | 长图类图片为
      span.red 158×158
      | ，图片高度不建议自定义，
      span.blue 图片必须等高。
      |
      | 标题最多
      span.blue 3
      | 行，最多
      span.blue 21
      | 个字。
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 组（6个为1组）
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .row
      .col-sm-4
        .tltw07.transdelay
          a(href="#")
            img(src="http://www.qstheory.cn/titlepic/111825/1118258599_1457343252719_title0h.jpg", alt="")
          h2
            a(href="#") 标题内容文字
      .col-sm-4
        .tltw07.transdelay
          a(href="#")
            img(src="http://www.qstheory.cn/titlepic/111825/1118258599_1457343252719_title0h.jpg", alt="")
          h2
            a(href="#") 标题内容文字标题内
      .col-sm-4
        .tltw07.transdelay
          a(href="#")
            img(src="http://www.qstheory.cn/titlepic/111825/1118258599_1457343252719_title0h.jpg", alt="")
          h2
            a(href="#") 标题内容文字标题内容文字
    .row
      .col-sm-4
        .tltw07.transdelay
          h2
            a(href="#") 标题内容文字
          a(href="#")
            img(src="http://www.qstheory.cn/titlepic/111825/1118258599_1457343252719_title0h.jpg", alt="")
      .col-sm-4
        .tltw07.transdelay
          h2
            a(href="#") 标题内容文字标题
          a(href="#")
            img(src="http://www.qstheory.cn/titlepic/111825/1118258599_1457343252719_title0h.jpg", alt="")
      .col-sm-4
        .tltw07.transdelay
          h2
            a(href="#") 标题内容文字标题内容文字
          a(href="#")
            img(src="http://www.qstheory.cn/titlepic/111825/1118258599_1457343252719_title0h.jpg", alt="")
    .row
      .col-sm-4
        .tltw07.transdelay
          a(href="#")
            img(src="http://www.qstheory.cn/titlepic/111824/1118242942_1457159643204_title0h.jpg", alt="")
          h2
            a(href="#") 标题内容文字
      .col-sm-4
        .tltw07.transdelay
          a(href="#")
            img(src="http://www.qstheory.cn/titlepic/111824/1118242942_1457159643204_title0h.jpg", alt="")
          h2
            a(href="#") 标题内容文字标题内
      .col-sm-4
        .tltw07.transdelay
          a(href="#")
            img(src="http://www.qstheory.cn/titlepic/111824/1118242942_1457159643204_title0h.jpg", alt="")
          h2
            a(href="#") 标题内容文字标题内容文字
    .row
      .col-sm-4
        .tltw07.transdelay
          h2
            a(href="#") 标题内容文字
          a(href="#")
            img(src="http://www.qstheory.cn/titlepic/111824/1118242942_1457159643204_title0h.jpg", alt="")
      .col-sm-4
        .tltw07.transdelay
          h2
            a(href="#") 标题内容文字标题
          a(href="#")
            img(src="http://www.qstheory.cn/titlepic/111824/1118242942_1457159643204_title0h.jpg", alt="")
      .col-sm-4
        .tltw07.transdelay
          h2
            a(href="#") 标题内容文字标题内容文字
          a(href="#")
            img(src="http://www.qstheory.cn/titlepic/111824/1118242942_1457159643204_title0h.jpg", alt="")
    .templates_n.hide
      pre
        code.temp-code nodeid="1" Repeat Begin=1 End=1