.col-md-12
  .column_n
    .height50p
    .explain 通栏图文10
      a(id="tltw10" name="tltw10")
    pre.declare
      | 图片为
      span.red 145×97
      | ，图片高度不可以自定义。
      | 标题最多
      span.blue 1
      | 行，最多
      span.blue 27
      | 个字，摘要最多
      span.blue 2
      | 行，最多
      span.blue 92
      | 个字。
      | 可以没有图片，标题摘要会顶掉失去元素的空间，
      span.blue 但不建议没有图片。
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 次
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .row
      .col-md-1
      .col-md-10.col-sm-12
        .line
        .tw03.box_hover.transdelay
          a(href="#")
            img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_03.jpg", alt="")
          h2
            a(href="#") 标题内容文字标题内容文字标题内容文字
          span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
        .line
        .tw03.box_hover.transdelay
          h2
            a(href="#") 标题内容文字标题内容文字标题内容文字
          span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
        .line
        .tw03.box_hover.transdelay
          a(href="#")
            img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_03.jpg", alt="")
          h2
            a(href="#") 标题内容文字标题内容文字标题内容文字
          span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
        .line
        .tw03.box_hover.transdelay
          a(href="#")
            img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_03.jpg", alt="")
          h2
            a(href="#") 标题内容文字标题内容文字标题内容文字
          span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
        .line
      .col-md-1
    .templates_n.hide
      pre
        code.temp-code nodeid="1" Repeat Begin=1 End=1