.col-md-12
  .column_n
    .height50p
    .explain 通栏图文06
      a(id="tltw06" name="tltw06")
    pre.declare
      | 图片为
      span.red 300×300
      | ，图片高度不可以自定义，
      span.blue 图片必须比例为1:1。
      |
      | 标题最多
      span.blue 2
      | 行，最多
      span.blue 24
      | 个字。摘要最多
      span.blue 3
      | 行，最多
      span.blue 48
      | 个字。
      | 可以选择不要作者、摘要。可以不要图片，
      span.blue 但如果不要图就都不要图。
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 行
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .row
      .col-sm-3.col-xs-6
        .tltw06
          .pic
            a(href="#")
              img.transdelay(src="http://www.qstheory.cn/titlepic/111525/1115256520_title0h.jpg", alt="")
          .text.transdelay
            h2
              a(href="#") 标题内容文字标题内容文字标题内容文字
            span.author 作者：某某某
            span.abs 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .col-sm-3.col-xs-6
        .tltw06
          .pic
            a(href="#")
              img.transdelay(src="http://www.qstheory.cn/titlepic/111525/1115256520_title0h.jpg", alt="")
          .text.transdelay
            h2
              a(href="#") 标题内容文字标题内容文字标题内容文字
            span.author 作者：某某某
            span.abs 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .clear.visible-xs
      .col-sm-3.col-xs-6
        .tltw06
          .pic
            a(href="#")
              img.transdelay(src="http://www.qstheory.cn/titlepic/111525/1115256520_title0h.jpg", alt="")
          .text.transdelay
            h2
              a(href="#") 标题内容文字标题内容文字标题内容文字
            span.author 作者：某某某
            span.abs 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .col-sm-3.col-xs-6
        .tltw06
          .pic
            a(href="#")
              img.transdelay(src="http://www.qstheory.cn/titlepic/111525/1115256520_title0h.jpg", alt="")
          .text.transdelay
            h2
              a(href="#") 标题内容文字标题内容文字标题内容文字
            span.author 作者：某某某
            span.abs 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
    .row
      .col-sm-3.col-xs-6
        .tltw06
          .pic
            a(href="#")
              img.transdelay(src="http://www.qstheory.cn/titlepic/111525/1115256520_title0h.jpg", alt="")
          .text.transdelay
            h2
              a(href="#") 标题内容文字标题内容文字标题内容文字
            span.author 作者：某某某
            span.abs 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .col-sm-3.col-xs-6
        .tltw06
          .pic
            a(href="#")
              img.transdelay(src="http://www.qstheory.cn/titlepic/111525/1115256520_title0h.jpg", alt="")
          .text.transdelay
            h2
              a(href="#") 标题内容文字标题内容文字标题内容文字
            span.author 作者：某某某
            span.abs 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .clear.visible-xs
      .col-sm-3.col-xs-6
        .tltw06
          .pic
          .text.transdelay
            h2
              a(href="#") 标题内容文字标题内容文字标题内容文字
            span.author 作者：某某某
            span.abs 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .col-sm-3.col-xs-6
        .tltw06
          .pic
          .text.transdelay
            h2
              a(href="#") 标题内容文字标题内容文字标题内容文字
            span.author 作者：某某某
            span.abs 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
    .templates_n.hide
      pre
        code.temp-code nodeid="1" Repeat Begin=1 End=1