.col-md-12
  .column_n
    .height50p
    .explain 通栏图文08
      a(id="tltw08" name="tltw08")
    pre.declare
      | 短图类图片为
      span.red 158×158
      | ，图片高度不能自定义，
      span.blue 图片必须比例1:1，不建议没有图片。
      |
      | 标题最多
      span.blue 2
      | 行，最多
      span.blue 22
      | 个字。摘要最多
      span.blue 3
      | 行，最多
      span.blue 36
      | 个字。
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 行
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .row
      .line.visible-xs
      .col-sm-4
        .tltw08.opactran
          a(href="#")
            img(src="http://www.qstheory.cn/titlepic/111525/1115256520_title0h.jpg", alt="")
          h2.transdelay
            a(href="#") 标题内容文字标题内容文字标题内容文字
          span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .line.visible-xs
      .col-sm-4
        .tltw08.opactran
          a(href="#")
            img(src="http://www.qstheory.cn/titlepic/111525/1115256520_title0h.jpg", alt="")
          h2.transdelay
            a(href="#") 标题内容文字标题内容文字标题内容文字
          span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .line.visible-xs
      .col-sm-4
        .tltw08.opactran
          h2.transdelay
            a(href="#") 标题内容文字标题内容文字标题内容文字
          span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
    .row
      .line.visible-xs
      .col-sm-4
        .tltw08.opactran
          a(href="#")
            img(src="http://www.qstheory.cn/titlepic/111525/1115256520_title0h.jpg", alt="")
          h2.transdelay
            a(href="#") 标题内容文字标题内容文字标题内容文字
          span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .line.visible-xs
      .col-sm-4
        .tltw08.opactran
          a(href="#")
            img(src="http://www.qstheory.cn/titlepic/111525/1115256520_title0h.jpg", alt="")
          h2.transdelay
            a(href="#") 标题内容文字标题内容文字标题内容文字
          span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .line.visible-xs
      .col-sm-4
        .tltw08.opactran
          a(href="#")
            img(src="http://www.qstheory.cn/titlepic/111525/1115256520_title0h.jpg", alt="")
          h2.transdelay
            a(href="#") 标题内容文字标题内容文字标题内容文字
          span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .line.visible-xs
    .templates_n.hide
      pre
        code.temp-code nodeid="1" Repeat Begin=1 End=1