.col-md-12
  .column_n
    .height50p
    .explain 通栏图文09
      a(id="tltw09" name="tltw09")
    pre.declare
      | 图片为
      span.red 88×88
      | ，图片高度不能自定义，
      span.blue 图片必须比例1:1。
      |
      | 标题最多
      span.blue 1
      | 行，最多
      span.blue 12
      | 个字。摘要最多
      span.blue 2
      | 行，最多
      span.blue 28
      | 个字。
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 行
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .row
      .col-sm-4
        .tltw09
          .pic
            a(href="#")
              img.transdelay(src="http://www.qstheory.cn/titlepic/111824/1118241793_1457165443131_title0h.jpg", alt="")
          .text
            h2
              a(href="#") 标题内容文字标题
            span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .col-sm-4
        .tltw09
          .pic
            a(href="#")
              img.transdelay(src="http://www.qstheory.cn/titlepic/111824/1118241793_1457165443131_title0h.jpg", alt="")
          .text
            h2
              a(href="#") 标题内容文字标题内容文字
            span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .col-sm-4
        .tltw09
          .pic
            a(href="#")
              img.transdelay(src="http://www.qstheory.cn/titlepic/111824/1118241793_1457165443131_title0h.jpg", alt="")
          .text
            h2
              a(href="#") 标题内容文字标题
            span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字
    .templates_n.hide
      pre
        code.temp-code nodeid="1" Repeat Begin=1 End=1