.col-md-12
  .column_n
    .height50p
    .explain 通栏图文01
      a(id="tltw01" name="tltw01")
    pre.declare
      | 图片为
      span.red 316×178
      | ，图片高度可以自定义，
      span.blue 图片必须等高。
      |
      |
      span.blue 3列1行时
      | ,标题最多
      span.blue 2
      | 行，最多
      span.blue 30
      | 个字。摘要最多
      span.blue 3
      | 行，最多
      span.blue 60
      | 个字。
      |
      span.blue 4列1行时
      | ,标题最多
      span.blue 2
      | 行，最多
      span.blue 22
      | 个字。摘要最多
      span.blue 3
      | 行，最多
      span.blue 42
      | 个字。
      | 可以选择不要摘要。
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 行
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .row
      .col-sm-4.col-xs-6
        .tltw01
          .pic
            img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_07.jpg", class="transdelay", alt="")
          .text
            h2.transdelay
              a(href="#") 标题内容文字标题内容标题内容
            span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .col-sm-4.col-xs-6
        .tltw01
          .pic
            img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_07.jpg", class="transdelay", alt="")
          .text
            h2.transdelay
              a(href="#") 标题内容文字标题内容
            span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .clear.visible-xs
      .col-sm-4.hidden-xs
        .tltw01
          .pic
            img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_07.jpg", class="transdelay", alt="")
          .text
            h2.transdelay
              a(href="#") 标题内容文字标题内容文字
            span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字
    .templates_n.hide
      pre
        code.temp-code nodeid="1" Repeat Begin=1 End=1
.col-md-12
  .column_n
    .height20p
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 行
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .row
      .col-sm-3.col-xs-6
        .tltw01
          .pic
            img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_07.jpg", class="transdelay", alt="")
          .text
            h2.transdelay
              a(href="#") 标题内容文字标题内容
            span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .col-sm-3.col-xs-6
        .tltw01
          .pic
            img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_07.jpg", class="transdelay", alt="")
          .text
            h2.transdelay
              a(href="#") 标题内容文字标题内容
            span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .clear.visible-xs
      .col-sm-3.col-xs-6
        .tltw01
          .pic
            img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_07.jpg", class="transdelay", alt="")
          .text
            h2.transdelay
              a(href="#") 标题内容文字标题内容
            span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .col-sm-3.col-xs-6
        .tltw01
          .pic
            img(src="http://www.qstheory.cn/n7/images/ceshi/noneed_07.jpg", class="transdelay", alt="")
          .text
            h2.transdelay
              a(href="#") 标题内容文字标题内容
            span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字
    .templates_n.hide
      pre
        code.temp-code nodeid="1" Repeat Begin=1 End=1