.col-md-12
  .column_n
    .height50p
    .explain 通栏图文05
      a(id="tltw05" name="tltw05")
    pre.declare
      | 图片为
      span.red 400×600
      | ，图片高度可以自定义，
      span.blue 图片必须等高。
      |
      | 标题最多
      span.blue 2
      | 行，最多
      span.blue 26
      | 个字。
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 行
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .row
      .col-sm-3.col-xs-6
        .tltw05
          .pic
            a(href="#")
              img(src="http://www.qstheory.cn/titlepic/111531/1115318723_1431928444926_title0h.jpg", class="transdelay", alt="")
          .text.transdelay
            h2
              a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字
      .col-sm-3.col-xs-6
        .tltw05
          .pic
            a(href="#")
              img(src="http://www.qstheory.cn/titlepic/111531/1115318723_1431928444926_title0h.jpg", class="transdelay", alt="")
          .text.transdelay
            h2
              a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字
      .clear.visible-xs
      .col-sm-3.col-xs-6
        .tltw05
          .pic
            a(href="#")
              img(src="http://www.qstheory.cn/titlepic/111531/1115318723_1431928444926_title0h.jpg", class="transdelay", alt="")
          .text.transdelay
            h2
              a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字
      .col-sm-3.col-xs-6
        .tltw05
          .pic
            a(href="#")
              img(src="http://www.qstheory.cn/titlepic/111531/1115318723_1431928444926_title0h.jpg", class="transdelay", alt="")
          .text.transdelay
            h2
              a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字
    .templates_n.hide
      pre
        code.temp-code nodeid="1" Repeat Begin=1 End=1