.col-md-12
  .column_n
    .height50p
    .explain 通栏图文04
      a(id="tltw04" name="tltw04")
    pre.declare
      | 图片为
      span.red 264×176
      | ，图片高度可以自定义，
      span.blue 图片必须等高。
      |
      |
      span.blue 3列1行时
      | ,标题最多
      span.blue 2
      | 行，最多
      span.blue 28
      | 个字。摘要最多
      span.blue 3
      | 行，最多
      span.blue 54
      | 个字。
      |
      span.blue 4列1行时
      | ,标题最多
      span.blue 2
      | 行，最多
      span.blue 18
      | 个字。摘要最多
      span.blue 3
      | 行，最多
      span.blue 30
      | 个字。
      | 可以选择不要摘要，可以不要图片，
      span.blue 但如果不要图片就都不要图片。
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 行
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .row
      .col-sm-4.col-xs-6
        .tltw04
          .subtitle
            .t_con 引题内容
          .pic.opactran
            a(href="#")
              img(src="http://www.qstheory.cn/titlepic/111824/1118246068_1457231901921_title0h.jpg", alt="")
          h2.transdelay
            a(href="#") 标题内容文字标题
          .abs 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .col-sm-4.col-xs-6
        .tltw04
          .subtitle
            .t_con 引题内容
          .pic.opactran
            a(href="#")
              img(src="http://www.qstheory.cn/titlepic/111824/1118246068_1457231901921_title0h.jpg", alt="")
          h2.transdelay
            a(href="#") 标题内容文字标题内容文字
          .abs 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .col-sm-4.hidden-xs
        .tltw04
          .subtitle
            .t_con 引题内容
          .pic.opactran
            a(href="#")
              img(src="http://www.qstheory.cn/titlepic/111824/1118246068_1457231901921_title0h.jpg", alt="")
          h2.transdelay
            a(href="#") 标题内容文字标题内容文字
          .abs 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
    .row
      .col-sm-4.col-xs-6
        .tltw04
          .subtitle
            .t_con 引题内容
          .pic.opactran
          h2.transdelay
            a(href="#") 标题内容文字标题
          .abs 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .col-sm-4.col-xs-6
        .tltw04
          .subtitle
            .t_con 引题内容
          .pic.opactran
          h2.transdelay
            a(href="#") 标题内容文字标题内容文字
          .abs 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .col-sm-4.hidden-xs
        .tltw04
          .subtitle
            .t_con 引题内容
          .pic.opactran
          h2.transdelay
            a(href="#") 标题内容文字标题内容文字
          .abs 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
    .templates_n.hide
      pre
        code.temp-code nodeid="1" Repeat Begin=1 End=1
.col-md-12
  .column_n
    .height20p
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 行
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .row
      .col-sm-3.col-xs-6
        .tltw04
          .subtitle
            .t_con 引题内容
          .pic.opactran
            a(href="#")
              img(src="http://www.qstheory.cn/titlepic/111824/1118246068_1457231901921_title0h.jpg", alt="")
          h2.transdelay
            a(href="#") 标题内容文字标题内容文字
          .abs 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .col-sm-3.col-xs-6
        .tltw04
          .subtitle
            .t_con 引题内容
          .pic.opactran
            a(href="#")
              img(src="http://www.qstheory.cn/titlepic/111824/1118246068_1457231901921_title0h.jpg", alt="")
          h2.transdelay
            a(href="#") 标题内容文字标题内容文字
          .abs 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .clear.visible-xs
      .col-sm-3.col-xs-6
        .tltw04
          .subtitle
            .t_con 引题内容
          .pic.opactran
            a(href="#")
              img(src="http://www.qstheory.cn/titlepic/111824/1118246068_1457231901921_title0h.jpg", alt="")
          h2.transdelay
            a(href="#") 标题内容文字标题内容文字
          .abs 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .col-sm-3.col-xs-6
        .tltw04
          .subtitle
            .t_con 引题内容
          .pic.opactran
            a(href="#")
              img(src="http://www.qstheory.cn/titlepic/111824/1118246068_1457231901921_title0h.jpg", alt="")
          h2.transdelay
            a(href="#") 标题内容文字标题内容文字
          .abs 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
    .templates_n.hide
      pre
        code.temp-code nodeid="1" Repeat Begin=1 End=1