.col-md-12
  .column_n
    .height50p
    .explain 通栏文字01
      a(id="tlwz01" name="tlwz01")
    pre.declare
      span.blue 3列1行时
      | ,标题最多
      span.blue 2
      | 行，最多
      span.blue 32
      | 个字。摘要最多
      span.blue 4
      | 行，最多
      span.blue 88
      | 个字。
      |
      span.blue 4列1行时
      | ,标题最多
      span.blue 2
      | 行，最多
      span.blue 22
      | 个字。摘要最多
      span.blue 4
      | 行，最多
      span.blue 64
      | 个字。
      | 可以选择不要摘要。
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 行
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .row
      .line.visible-xs
      .col-sm-4
        .tlbt01
          h2.transdelay
            a(href="#") 标题内容文字标题内容标题内容标题内容文字01
          span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .line.visible-xs
      .col-sm-4
        .tlbt01
          h2.transdelay
            a(href="#") 标题内容文字标题内容标题内容标题内容文字02
          span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .line.visible-xs
      .col-sm-4
        .tlbt01
          h2.transdelay
            a(href="#") 标题内容文字标题内容标题内容标题内容文字03
          span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
    .row
      .line.visible-xs
      .col-sm-4
        .tlbt01
          h2.transdelay
            a(href="#") 标题内容文字标题内容标题内容标题内容文字04
      .line.visible-xs
      .col-sm-4
        .tlbt01
          h2.transdelay
            a(href="#") 标题内容文字标题内容标题内容标题内容文字05
      .line.visible-xs
      .col-sm-4
        .tlbt01
          h2.transdelay
            a(href="#") 标题内容文字标题内容标题内容标题内容文字06
    .row
      .line.visible-xs
      .col-sm-4
        .tlbt01
          h2.transdelay
            a(href="#") 标题内容文字标题内容标题内容标题内容文字
      .line.visible-xs
      .col-sm-4
        .tlbt01
          h2.transdelay
            a(href="#") 标题内容文字标题内容标题内容标题内容文字
      .line.visible-xs
      .col-sm-4
        .tlbt01
          h2.transdelay
            a(href="#") 标题内容文字标题内容标题内容标题内容文字
    .templates_n.hide
      pre
        code.temp-code nodeid="1" Repeat Begin=1 End=1
.col-md-12
  .column_n
    .height20p
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 行
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .row
      .line.visible-xs
      .col-sm-3
        .tlbt01
          h2.transdelay
            a(href="#") 标题内容文字标题内容标题内容标题内容文字01
          span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .line.visible-xs
      .col-sm-3
        .tlbt01
          h2.transdelay
            a(href="#") 标题内容文字标题内容标题内容标题内容02
          span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .line.visible-xs
      .col-sm-3
        .tlbt01
          h2.transdelay
            a(href="#") 标题内容文字标题内容标题内容标题03
          span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .line.visible-xs
      .col-sm-3
        .tlbt01
          h2.transdelay
            a(href="#") 标题内容文字标题内容标题内容标题内容04
          span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .line.visible-xs
    .templates_n.hide
      pre
        code.temp-code nodeid="1" Repeat Begin=1 End=1