.col-md-12
  .column_n
    .height50p
    .explain 通栏文字02
      a(id="tlwz02" name="tlwz02")
    pre.declare
      span.blue 3列1行时
      | ,标题最多
      span.blue 2
      | 行，最多
      span.blue 38
      | 个字。
      span.blue 4列1行时
      | ,标题最多
      span.blue 2
      | 行，最多
      span.blue 26
      | 个字。
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 行
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .row
      .line.visible-xs
      .col-sm-4
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容标题内容01
      .line.visible-xs
      .col-sm-4
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容标题内容02
      .line.visible-xs
      .col-sm-4
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容标题内容03
    .row
      .line.visible-xs
      .col-sm-4
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容04
      .line.visible-xs
      .col-sm-4
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容标题内容05
      .line.visible-xs
      .col-sm-4
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容标题06
    .row
      .line.visible-xs
      .col-sm-4
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容标题内容标题内容文字标题内容文字
      .line.visible-xs
      .col-sm-4
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容标题内容标题内容文字标题内容文字
      .line.visible-xs
      .col-sm-4
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容标题
    .row
      .line.visible-xs
      .col-sm-4
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容标题内容
      .line.visible-xs
      .col-sm-4
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容标题内容
      .line.visible-xs
      .col-sm-4
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容标题内容
    .row
      .line.visible-xs
      .col-sm-4
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容标题内容
      .line.visible-xs
      .col-sm-4
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容标题内容
      .line.visible-xs
      .col-sm-4
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容标题内
      .line.visible-xs
    .templates_n.hide
      pre
        code.temp-code nodeid="1" Repeat Begin=1 End=1
.col-md-12
  .column_n
    .height20p
    .button_box
      span 信息片ID
      input.importbox_l.info_n(type="text")
      | 　
      span 循环
      input.importbox_s.order_n(type="text")
      span 行
      | 　
      button.assign_btn_n 参数赋值
      button.copy_btn_n 复制代码
    .row
      .line.visible-xs
      .col-sm-3
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容01
      .line.visible-xs
      .col-sm-3
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容02
      .line.visible-xs
      .col-sm-3
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内内容03
      .line.visible-xs
      .col-sm-3
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容04
    .row
      .line.visible-xs
      .col-sm-3
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内05
      .line.visible-xs
      .col-sm-3
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题06
      .line.visible-xs
      .col-sm-3
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容标题07
      .line.visible-xs
      .col-sm-3
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容标题内容标题内容08
    .row
      .line.visible-xs
      .col-sm-3
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容标题内容标题内容
      .line.visible-xs
      .col-sm-3
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容标题内容标题内容
      .line.visible-xs
      .col-sm-3
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容标题内容标题内容
      .line.visible-xs
      .col-sm-3
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容
    .row
      .line.visible-xs
      .col-sm-3
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容标
      .line.visible-xs
      .col-sm-3
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内
      .line.visible-xs
      .col-sm-3
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容
      .line.visible-xs
      .col-sm-3
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容
    .row
      .line.visible-xs
      .col-sm-3
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容标
      .line.visible-xs
      .col-sm-3
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内
      .line.visible-xs
      .col-sm-3
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容
      .line.visible-xs
      .col-sm-3
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容
    .row
      .line.visible-xs
      .col-sm-3
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容标
      .line.visible-xs
      .col-sm-3
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内
      .line.visible-xs
      .col-sm-3
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容
      .line.visible-xs
      .col-sm-3
        .tlbt02.transdelay
          a(href="#") 标题内容文字标题内容
      .line.visible-xs
    .templates_n.hide
      pre
        code.temp-code nodeid="1" Repeat Begin=1 End=1