.row
  .col-sm-12
    .column_n
      .height50p
      .explain 左侧文字01
        a(id="zcwz01" name="zcwz01")
      pre.declare
        | 标题最多
        span.blue 1
        | 行，最多
        span.blue 26
        | 个字，摘要最多
        span.blue 1
        | 行，最多
        span.blue 47
        | 个字。
      .button_box
        span 信息片ID
        input.importbox_l.info_n(type="text")
        | 　
        span 循环
        input.importbox_s.order_n(type="text")
        span 次
        | 　
        button.assign_btn_n 参数赋值
        button.copy_btn_n 复制代码
      .bt01
        .mobi_line
        dl
          dt.transdelay
            a(href="#") 标题内容文字标题内容文字
          dd 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字。
        .mobi_line
        dl
          dt.transdelay
            a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字
          dd 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字。
        .mobi_line
        dl
          dt.transdelay
            a(href="#") 标题内容文字标题内容文字标题内容文字
          dd 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
        .mobi_line
      .templates_n.hide
        pre
          code.temp-code nodeid="1" Repeat Begin=1 End=1