.zt_share.hidden-sm.hidden-xs
    .share_icon
        a(onClick="javascript:bShare.share(event,'weixin',0);return false;")
            img(src="http://www.qstheory.cn/n7/images/zt_yksv3_20180821_03.png", alt="")
    .share_icon
        a(onClick="javascript:bShare.share(event,'sinaminiblog',0);return false;")
            img(src="http://www.qstheory.cn/n7/images/zt_yksv3_20180821_04.png", alt="")
    .share_icon
        a(onClick="javascript:bShare.share(event,'qqmb',0);return false;")
            img(src="http://www.qstheory.cn/n7/images/zt_yksv3_20180821_05.png", alt="")