doctype html
html
    head
        include views/head
    body
        include views/wxshare
        include views/nav
        .container
            include views/banner
            include views/headtitle
            .row
                .col-md-8
                    include views/focus
                    include views/pictext01
                    include views/pictext02
        include views/foot
        include views/bottom
        script(src="http://w.cnzz.com/c.php?id=30019853")